extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section.hero
    .hero__links
      - 
        var socials = [
          ['http://vk.com', 'vk'],
          ['http://gh.com', 'github'],
          ['http://in.com', 'in']
          ]
      .hero__header
          ul.socials
            each item in socials
              li.socials__item
                a(href=`${item[0]}`).socials__link
                  +icon(item[1], 'socials__link-icon')
          .hero__menu
           a(href="").hamburger
              img(src='./assets/images/icons/hamburger.svg', alt = "menu").hamburger-icon
      .hero__content
        .hero__title
          .section-title
            .user.hero__user
               .user__pic
                  img(src='./assets/images/header_logo.jpg', alt="").user__pic-img
               .user__description
                 .user__name Мякишева Мария
                 .user__info Личный сайт веб разработчика  

  