.preloader#preloader  
  .preloader__wrap
    figure.preloader__figure
      svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='144px', height='144px', viewbox='0 0 144 144', enable-background='new 0 0 144 144', xml:space='preserve')
        
        circle(fill='none', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', cx='72', cy='72', r='40').preloader__circle-small
    span#percent_load 0