

.map {
  
  height: 100vh;
  position: relative;
  
  background: url('./assets/images/map.png') center center no-repeat;
}

.map__container {
width: 100%;
height: 100%;
display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  width: 580px;
  height: 285px;
  background-color: rgba(255,255,255,0.7);
  padding: 30px 20px;
}

.contacts__item {
 // padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;
  align-items: center;
}

.contacts__item-link {
  display: flex;
}

.contacts-row {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  //text-align: center;
  max-width: 195px;
  
}

.contacts__icon-img {
  width: 50px;
  height: 50px;
  fill: #004cd1;
  padding-right: 10px;
}

.contacts__list {
  display: flex;
  justify-content: space-around;
  //flex-direction: column;
  flex-wrap: wrap;
  width: 540px;
  height: 140px;
}

.contacts__main {
 color: rgba(71, 75, 87, 0.8); 
 font-family: Roboto-Medium;
 &:hover {
  color: #004cd1;
 }
}