#google-map {
  //background: url("/assets/images/content/map.jpg") center center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include phones {
    grid-area: second;
  }
}

.map {
  
  height: 100vh;
  position: relative;
  
  //background: url('./assets/images/map.png') center center no-repeat;
  @include phones {
    display: grid;
    grid-template: 
    "first" 50%
    "second" 50%
    /1fr;
  }
}

.map__container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  //padding-bottom: 257px;
  @include phones {
    grid-area: first;
    top: 50%;
  }
}

.contacts {
  width: 580px;
  height: 285px;
  background-color: rgba(255,255,255,0.7);
  padding: 30px 20px;
  @include tablets {
    width: 348px;
    height: 100%;
    padding: 0 40px 30px 20px;
  }
}

.contacts__item {
 // padding-right: 70px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;
  align-items: center;
  @include tablets {
    width: 100%;
  }
}

.contacts__item-link {
  display: flex;
}

.contacts-row {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  //text-align: center;
  max-width: 195px;
  
}

.contacts__icon-img {
  width: 50px;
  height: 50px;
  fill: #004cd1;
  padding-right: 10px;
}

.contacts__list {
  display: flex;
  justify-content: space-around;
  //flex-direction: column;
  flex-wrap: wrap;
  width: 540px;
  height: 140px;
  @include tablets {
    width: 100%;
    height: 100%;
  }
}

.contacts__main {
 color: rgba(71, 75, 87, 0.8); 
 font-family: Roboto-Medium;
 &:hover {
  color: #004cd1;
 }
}