.blog__about__left {
  width: 30vw;
  margin-top: 10vh;
  transition: 0.3s;
  @include tablets {
    left: -100%;
    position: absolute;
  }
  @include phones {
    background: #253468;
    position: absolute;
    width: 80%;
    left: -80%;
    height: 100%;
    z-index: 55;
    margin-top: 0;
  }
}

.blog__about__left__active {
  left: 0;
}

.blog__left-main {
 // width: 300px;
  margin: 0 3.125rem 0 6.25rem;
}

.blog__about__left-title {
padding-right: 0;
display: block;
}

.blog__about__left-title {
  margin-bottom: 2.5rem;
  &:hover {   //изменить на active + вешается активный признак при переходе на статью
    //padding-right: 15px;
    border-right: #083c96 2px solid;
  } 
  
}

.blog__about__left-part {
  color: #455a64;
  font-size: 16px;
  font-family: Roboto-Regular;

 &:hover {   //изменить на active + вешается активный признак при переходе на статью
   color: #083c96;
   font-weight: bold;
   }
}

.blog__about__left-btn {
  display: none;
  @include phones {
    display: block;
    position: absolute;
    background: #253468;
    border-radius: 50%;
    width: 3.125rem;
    height: 3.125rem;
    right: -1.25rem;
    //top: 10%;
    z-index: 55;
  }
}

.blog__about__right {
  width: 70vw;
  margin-top: 10vh;
  @include tablets {
    width: 100%;
    padding: 0 3%;
  }
  @include phones {
    
  }
}

.blog__right-main {
  //display: flex;
  //flex-direction: column;
  //justify-content: flex-start;
  margin-bottom: 23vh;

}

.blog__about__right-title {
    border-bottom: 4px solid rgba(69, 90, 100, 0.07);
    padding-bottom: 70px;
    margin-bottom: 70px;
    position: relative;
    &:last-child {
      border-bottom: none;
    }
}

.blog__about__right-elem {
  color: #474b57;
  font-family: Sansus-Webissimo-Regular;
  font-size: 35px;
  
}

.blog__right-date {
color: #083c96;
font-size: 16px;
font-family: Roboto-Regular;
padding: 25px 0;
}

.blog__right-description {
  max-width: 55rem;
  font-family: Roboto-Regular;
  font-size: 16px;
}
