.footer {
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom:0;
  margin: 0 auto;
  width: 100vw;
 // height: 2.2vh;
  //margin-top: -2.2vh;
  background-color: rgba(8,60,150,0.85);
  color: #fff;
  font-size: 1rem;
  font-family: Roboto-Light;
  z-index: 10;
  @include tablets {
    font-size: 0.8rem;
  }
}

.main__footer {
  background-color: rgba(28,31,41,0.85);
  position: absolute;
 // top: 90%;
  bottom: 0;
  //height: 23vh;
  margin-top: -23vh;
  //margin: 0 auto;
  width: 100vw;
  color: #fff;
  z-index: 5;
  display: flex;
  @include tablets {
    flex-wrap: wrap;
    //height: 26vh;
    justify-content: space-between;
  }
  @include phones {
    display: inline;
    height: 22rem;
    justify-content: center;
    width: 100%;
  }
}

.footer__row {
  width: 33%;
  padding: 2.7vh 1.1vw 5.3vh 1.1vw;
  &-first {
    @include tablets {
      width: 100%;
      padding: 1rem 0;
      text-align: center;
      border-bottom: 1px solid;
    }
    @include phones {
      padding: 1rem 0 0;
    }
  }
  &-second {
    @include tablets {
      width: 50%;
      padding: 1rem 0 1rem 1.7rem;
      margin-bottom: 2rem;
    }
    @include phones {
      width: 90%;
      padding: 0 1 rem;
      text-align: center;
      margin: 0;
      //height: 100%;
    }
  }
  &-third {
    @include tablets {
      width: 50%;
      padding: 1rem 1.7rem 1rem 0;
    }
    @include phones {
      width: 100%;
      padding: 0 1rem;
    }
  }
}

.menu__list {
  display: flex;
  padding-bottom: 2.3vh;
  @include phones {
    justify-content: space-between;
  }
  
}

.menu__item {
  padding-right: 1.7vw;
}

.menu__link {
  color: #fff;
  font-family: Roboto-Bold;
  font-size: 1rem;
  @include tablets {
    font-size: 0.875rem;
  }
}

.socials__link-icon-opacity {
  opacity: 0.5;
}

.footer__text {
  font-family: Roboto Light;
  font-size: 1rem;
  @include tablets {
    font-size: 0.875rem;
  }

}

.footer-contacts__list {
  @include tablets {
    text-align: right;
  }
  @include phones {
    text-align: center;
  }
}

.socials {
   
}

.socials-footer {
  @include phones {
  justify-content: center;
  }
}