.footer {
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom:0;
  margin: 0 auto;
  width: 100vw;
 // height: 2.2vh;
  //margin-top: -2.2vh;
  background-color: rgba(8,60,150,0.85);
  color: #fff;
  font-size: 1rem;
  font-family: Roboto-Light;
  z-index: 10;
  @include tablets {
    font-size: 0.8rem;
  }
}

.main__footer {
  background-color: rgba(28,31,41,0.85);
  position: absolute;
 // top: 90%;
  bottom: 0;
  height: 23vh;
  margin-top: -23vh;
  //margin: 0 auto;
  display: grid;
  grid-template: 
  "first second third" 50%
  "first fifth third" 50%
  /1fr 1fr 1fr;
  @include tablets {
    grid-template: 
    "first first" 27%
    "second third" 22%
    "forth third" 51%
    /1fr 1fr;
  }
  @include phones {
        grid-template: 
    "first" 21%
    "second" 11%
    "third" 14%
    "forth" 54%
    /1fr;
  }

  width: 100vw;
  color: #fff;
  z-index: 5;
}

.footer__row {
  //  width: 33%;
  padding: 2.7vh 1.1vw 5.3vh 1.1vw;
}

.menu__list {
  display: flex;
  padding-bottom: 2.3vh;
  grid-area: 1 /2 / 2 / 3;
  @include tablets {
    grid-area: 2 /1 / 3 / 2;
  }
}

.menu__item {
  padding-right: 1.7vw;
}

.menu__link {
  color: #fff;
  font-family: Roboto-Bold;
  font-size: 1rem;
  
  //width: 100%;
  //opacity: 0.5;
}

.socials__link-icon-opacity {
  opacity: 0.5;
}

.footer__text {
  font-family: Roboto Light;
  font-size: 1rem;
  grid-area: 1 / 1 / 3 / 2;
  @include tablets {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.footer-contacts__list {
  grid-area: 1 / 3 / 3 / 4;
  @include tablets {
    grid-area: 2 / 2 / 4 / 3;
  }
}

.socials {
   grid-area: 2 / 2 / 3 / 3;
  @include tablets {
    grid-area: 3 / 1 / 4 / 2;
  }
}