.wellcome__hero {
  height: 100vh;
  min-height: 650px;
  min-width: 40.625rem;
  //position: relative;
  //justify-content: center;
  background: url("./assets/images/header_main.jpg") center center no-repeat;
}
/*
.wellcome__hero-img {
  display: block;
  max-width: 180%;
  //height: 100vh;
}*/

.parallax {
  position: fixed;
  //position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(34, 59, 101, 0);
  
  @include tablets {
    display: none;
  }
}

.wellcome__hero-video {
  //z-index: 10;
  position: absolute;
  @include tablets {
    display: none;
  }

}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
}

.parallax__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 180%;
  height: 100%;
}

.wellcome__hero__header {
  top: 0;
  position: absolute;
  right: 0;
  //display: flex;
  //justify-content: flex-end;
  margin-right: 6.25rem;
  padding-top: 2.8vh;
  @include phones {
    margin-right: 50%;
    transform: translateX(50%);
  }
}

.hero__btn {
color: #fff;
font-size: 1rem;
font-family: Roboto-Medium;
padding: 12px 30px;
background-color: transparent;
//outline: 1px solid #fff;
border: 1px solid #fff;
border-radius: 5px;
&:hover {
  background-color: #083c96;
  border: #083c96;
}
}

.wellcome__hero__content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);  
}

.wellcome__section-title {
  background-color: rgba(28, 40, 68, 0.5);
}

.wellcome__section-title-main {
  background-color: rgba(28, 40, 68, 0.5);
}

.wellcome__section-non-active {
  display: none;
}

.wellcome__section-auth {
  background-color: rgba(28, 40, 68, 0.5);
}

.wellcome__hero__user {
padding-top: 30px;
}

.block-title__wellcome {
  font-size: 2.1875rem;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.wellcome__socials {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.wellcome__socials_link-icon {
  fill: rgba(10, 68, 170, 0.7);
}

.user__btns {
  display: flex;
  justify-content: space-between;
}

.user__btns-auth {
  width: 50%;
  height: 100%;
  align-items: center;
}

.user__button-auth {
  background-color: transparent;
  padding: 10px;
  color: #fff;
  width: 100%;
  //text-align: center;
&-href {
  color: #fff;
}
}

.user__btns__elem {
  
  background-color: rgba(82, 90, 103, 0.85);
  transition: 0.3s;
  &:hover {
    background-color: rgba(4, 62, 163, 0.85);
  }
}

.user__button {
  background-color: transparent;
  padding: 10px 30px;
  color: #fff;
&-href {
  color: #fff;
}

}

.wellcome__footer {
  position: absolute;
  text-align: center;
  z-index: 100;
  bottom:0;
  margin: 0 auto;
  color: #fff;
  font-size: 1rem;
  font-family: Roboto-Light;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.socials_form_wellcome {
  width: 20px;
  height: 20px;
  fill: #818181;
 // background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}

.wellcome_form {
  display: flex;
  flex-direction: column;
}

.talk-name__btn-desc, .talk__about-quest {
  color: #fff;
  font-family: Roboto-Regular;
  font-size: 1rem;
}

.talk__about_wellcome-elem-center {
  justify-content: center;
}

.talk__about_wellcome-elem {
  display: flex;
  padding: 20px 20px;
}

.talk__about-quest {
  display: flex;
  justify-content: center;
}

.talk-name__text {
  height: 45px;
  width: 100%;
  border: #fff 1px solid;

  &:focus {
    border: #083c96 1px solid;
    .socials_form_wellcome {
      fill: #083c96;
    }
  }
}

.talk__about-icon {
  width: 45px;
  height: 45px;
  background: #f0efe9;
  border: #f0efe9 1px solid;
}

.talk__about_radio {
  display: flex;
  justify-content: space-around;
}

.wellcome__section-main {
  height: 100%;
}

.flip-enter-active, .flip-leave-active {
  transition: 1s linear;
}

.wellcome__hero__title {
  perspective: 1000px;
}

.flip-leave {
  transform: rotateY(0);
}

.flip-leave-to {
  transform: rotateY(90deg);
}

.flip-enter {
  transform: rotateY(-90deg);
}

.flip-enter-to {
  transform: rotateY(0deg);
}
