.wellcome__hero {
  height: 100vh;
  min-height: 650px;
  min-width: 40.625rem;
  //position: relative;
  //justify-content: center;
}
/*
.wellcome__hero-img {
  display: block;
  max-width: 180%;
  //height: 100vh;
}*/

.parralax {
  position: fixed;
  //position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #223b65;
}

.parralax__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parralax__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 180%;
  height: 100%;
}

.wellcome__hero__header {
  top: 0;
  position: absolute;
  right: 0;
  //display: flex;
  //justify-content: flex-end;
  margin-right: 6.25rem;
  padding-top: 2.8vh;
}

.hero__btn {
color: #fff;
font-size: 1rem;
font-family: Roboto-Medium;
padding: 12px 30px;
background-color: transparent;
//outline: 1px solid #fff;
border: 1px solid #fff;
border-radius: 5px;
}

.wellcome__hero__content {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);  
}

.wellcome__section-title {
  background-color: rgba(28, 40, 68, 0.5);
}

.wellcome__hero__user {
padding-top: 30px;
}

.wellcome__socials {
  display: flex;
  justify-content: center;
  padding: 35px 0;
}

.wellcome__socials_link-icon {
  fill: rgba(10, 68, 170, 0.7);
}

.user__btns {
  display: flex;
  justify-content: space-between;
}

.user__btns__elem {
  
  background-color: rgba(4, 72, 189, 0.85);
  transition: 0.3s;
  &:hover {
    background-color: rgba(4, 62, 163, 0.85);
  }
}

.user__button {
  background-color: transparent;
  padding: 10px 30px;
  color: #fff;
}